apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-cnwmypea
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-cnwmypea:dc7105e6e7416ab3822b90317d3ed98addd065e4@sha256:d4d8d2e08f0fda0bf4f3cf160edc96b6ad6eb1b5af960c98d47a1b1d76f8c536
          name: container-image
